/* Gráfico 1 */
#example-graph{
    width: 65%;
    padding: 12px 12px 12px 12px;
    height: 275px;
    display: inline-block;
}

/* Gráfico 2 */
#example-graph_2{
    width: 65%;
    padding: 12px 12px 12px 12px;
    height: 275px;
}

/* Cabeçalho --> Aonde fica nosaa logo e o ícone de menu */
#header{
    height: 7.617%;
    background-color: #5E60CE;
    margin: 0;
}

/* Escrita Fga Health Analytics */
#header p{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    color: #FCFCFC;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding-top: 25px;
}

/* Logo da nosso dashboard*/
#header img
{
    width: 4.16%;
    height: 5.37%;
    display: inline-block;
    padding: 12px 12px 12px 20px;
} 

body{
    background-color: #C5D5FD;
    margin: 0;
}

#escolha_de_pais{
    padding-right: 10px;
    display: inline-block;
    color: #C5D5FD;
}

#seccao_filtros{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-left: 12px;
    vertical-align: top;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 10px;
}

#seccao_filtros p{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

#dado_3{
    padding-right: 10px;
    display: inline-block;
}

#oq_deseja_ver{
    text-align: center;
    margin: 0px;
}

#grafico_1_filtro_text{
    text-align: center;
    width: 450px;
    margin-right: 1px;
}

#grafico_2_filtro_text{
    text-align: center;
    width: 150px;
    margin-right: 1px;
}
/* Trabalhar layout do header e padding dos gráficos