/* Gráfico 1 */
#example-graph{
    width: 65%;
    padding: 12px 12px 12px 12px;
}

/* Gráfico 2 */
#example-graph_2{
    width: 65%;
    padding: 12px 12px 12px 12px;
}

/* Cabeçalho --> Aonde fica nosaa logo e o ícone de menu */
#header{
    height: 7.617%;
    background-color: #5E60CE;
    margin: 0;
}

/* Escrita Fga Health Analytics */
#header p{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    color: #FCFCFC;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
}

/* Logo da nosso dashboard*/
#header img
{
    width: 4.16%;
    height: 5.37%;
    display: inline-block;
    padding: 12px 12px 12px 20px;
} 

body{
    background-color: #C5D5FD;
    margin: 0;
}

#escolha_de_pais{
    padding-right: 10px;
}

#seccao_filtros{
    padding-top: 12px;
    padding-left: 12px;
}

/* Trabalhar layout do header e padding dos gráficos